@import "{{ site.theme }}";

:root {
  --background-color: #1a1a1a;
  --text-color: #e6e6e6;
  --link-color: #64b5f6;
  --link-hover-color: #90caf9;
  --border-color: #404040;
  --code-background: #2d2d2d;
  --blockquote-border: #4a4a4a;
  --header-background: #252525;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  
  &:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
  }
}

.wrapper {
  width: 860px;
  margin: 0 auto;
  background: var(--header-background);
  padding: 30px;
  border-radius: 8px;
}

header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;

  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    
    a {
      color: var(--text-color);
      &:hover {
        color: var(--link-hover-color);
      }
    }
  }

  .main-nav {
    margin-top: 20px;
    
    a {
      display: block;
      margin-bottom: 10px;
      padding: 5px 10px;
      border-radius: 4px;
      
      &:hover {
        background: var(--border-color);
      }
    }
  }
}

section {
  width: 500px;
  float: right;
  padding-bottom: 50px;
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

code, pre {
  background-color: var(--code-background);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 2px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

blockquote {
  border-left: 4px solid var(--blockquote-border);
  padding-left: 15px;
  font-style: italic;
}

table {
  border: 1px solid var(--border-color);
  
  th, td {
    border: 1px solid var(--border-color);
    padding: 5px 10px;
  }
  
  tr:nth-child(even) {
    background-color: var(--header-background);
  }
}

// Home page styles
.home {
  .post-list {
    margin-left: 0;
    list-style: none;

    > li {
      margin-bottom: 30px;
      background: var(--header-background);
      padding: 20px;
      border-radius: 8px;
      border: 1px solid var(--border-color);
    }
  }

  .post-meta {
    font-size: 14px;
    color: #888;
  }

  .post-link {
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .post-list-heading {
    color: var(--text-color);
    margin-bottom: 30px;
  }

  .rss-subscribe {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid var(--border-color);
  }
}

// Page and post styles
.post {
  .post-header {
    margin-bottom: 30px;
  }

  .post-title {
    color: var(--text-color);
    font-size: 36px;
    margin-bottom: 15px;
  }

  .post-meta {
    color: #888;
    font-size: 14px;
  }

  .post-content {
    margin-bottom: 30px;

    h2 {
      font-size: 28px;
      margin-top: 40px;
    }

    h3 {
      font-size: 24px;
      margin-top: 30px;
    }

    h4 {
      font-size: 20px;
      margin-top: 25px;
    }
  }
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }

  section {
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header p.view {
    position: static;
  }

  pre, code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }
} 